---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <div class="w-full px-6 py-12">
    <section class="flex min-h-[90dvh] w-full items-center justify-center">
      <div
        class="mx-auto flex w-full max-w-5xl flex-col items-center justify-center"
      >
        <header>
          <h1 class="text-center text-6xl font-bold">Página no encontrada</h1>
        </header>
        <p class="mt-4 w-full max-w-md text-pretty text-center font-medium">
          Aún no he desarrollado esta parte padrino, pero puedes seguir viendo
          mi portafolio que está hermoso
        </p>
        <footer class="mt-8">
          <a
            href="/"
            class="bg-secondary hover:bg-dark-rose w-full rounded-lg px-4 py-2 text-center text-xl font-medium transition-all duration-100 active:scale-90"
            >Volver a Inicio</a
          >
        </footer>
      </div>
    </section>
  </div>
</Layout>
