<section class="w-full scroll-m-12 py-16" id="about-me">
  <div class="mx-auto w-full max-w-5xl">
    <header>
      <h2 class="text-4xl font-bold">Sobre mí</h2>
    </header>
    <div class="flex flex-col items-center md:flex-row">
      <div class="flex-1">
        <div
          class="bg-secondary mx-auto mt-10 size-64 rounded-3xl p-2 md:size-72"
        >
          <img
            src="/about-me.webp"
            loading="lazy"
            alt="Imagen sobre la persona de Guidzero"
            class="h-full w-full select-none rounded-2xl object-cover"
            draggable="false"
          />
        </div>
      </div>
      <div class="flex-1">
        <p class="mt-8 text-pretty font-medium">
          A los 18 años, me sentía perdido y sin un rumbo claro sobre lo que
          quería hacer con mi vida, hasta que <span class="text-secondary">
            un día encontré la programación en una clase utilizando Java</span
          > para resolver problemas matemáticos, y fue ahí donde decidí tomar mi
          camino.
        </p>
        <p class="text-pretty pt-4 font-medium">
          Me gradué como Ingeniero de Software, <span class="text-secondary">
            habiendo obtenido el 1er lugar en dos concursos internos de mi
            escuela</span
          >, en los que no solo pude aprender y conocer personas, sino también
          darme cuenta de que realmente disfruto el desarrollo.
        </p>
        <p class="mt-4 text-pretty font-medium">
          Actualmente me enfoco en la programación web, siempre buscando la
          forma de <span class="text-secondary">
            resolver problemas, generar nuevas ideas, innovar en mis proyectos</span
          > y, sobre todo, encontrar un lugar en el que siento que pertenezco.
        </p>
      </div>
    </div>
  </div>
</section>
